@page
@model WEB_153505_PIKHTOVNIKAVA.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
     
}

<h1>Details</h1>

<div>
    <h4>Sneaker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sneaker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sneaker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sneaker.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sneaker.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sneaker.SeasonCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sneaker.SeasonCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sneaker.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sneaker.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sneaker.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sneaker.PhotoPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sneaker?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
