﻿@using WEB_153505_PIKHTOVNIKAVA.Controllers;
@using WEB_153505_PIKHTOVNIKAVA.Domain.Models;
@model ListModel<Sneaker>

@{
    ViewData["Title"] = "Index";

    var request = ViewContext.HttpContext.Request;

    // понадобится когда то после 3 лабы
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    string? category = request.Query["category"].ToString();

    // корректное получение предыдущей и следующей страницы
    // надо для кнопок взад и вперед
    int prev = Model.CurrentPage == 1
         ? 1
         : Model.CurrentPage - 1;

    int next = Model.CurrentPage == Model.TotalPages
    ? Model.TotalPages
    : Model.CurrentPage + 1;
}

<h1>Index</h1>

<p>
    <h2>Сезон</h2>
</p>


<div class="row">
    <!-- страницы начало -->
    <nav aria-label="Page navigation example">
        <Pager current-page="@Model.CurrentPage"
               total-pages="@Model.TotalPages"
               category="@category">

        </Pager>
    </nav>
</div><!-- страницы конец -->

<div class="row justify-content-start">
    <div class="col-2">
        <div class="col-2 border-2">
            <!-- выбор категории -->
            <ul class="nav ">
                <li class="nav-item dropdown">
                    <!-- отображение действительной категории начало -->
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-expanded="false">
                        @ViewData["currentCategory"]    
                    </a>
                    <!-- отображение действительной категории конец -->

                    <!-- отображение всех категорий начало -->
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="SneakersProduct"
                               asp-route-category=@null
                               asp-route-pageno="1">Все</a>
                        </li>
                        @foreach (var item in ViewBag.categories)
                        {
                            <li>
                                <a class="dropdown-item"
                               asp-controller="SneakersProduct"
                               asp-route-category="@item.NormalizedName"
                               asp-route-pageno="1">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                    <!-- отображение всех категорий конец -->
                </li>
            </ul>
        </div><!-- выбор категории -->
    </div>

    <partial name="_ProductCardsPartial" />

</div>
